<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head',{vista: 'Inicio' }) %>

    <body>
        <%- include('../partials/header') %>

            <main class="main">
                <nav class="home-banner-c">
                    <img src="/img/img-home-banner.jpg" alt="baner-imagen" class="home-banner">
                </nav>
                <h4 class="main-title">
                    <a>Basado en tu última visita</a>
                </h4>


                <div class="mostrar-productos">
                    <% productsInsale.forEach(p=> { %>
                        <div class="products">
                            <a href="/productos/detalle/<%= p.id %>">
                                <img src="/img/products/<%= p.image %>" alt="article" class="article">
                                <p class="emote-camion"><i class="fa-solid fa-truck"></i></p>
                                <p class="main-precio">
                                    $<%=toThousand(p.price)%>
                                </p>
                                <p class="main-offer">
                                    <%= p.discount%>%
                                </p>
                                <p class="main-texto">
                                    <%= p.name%>
                                </p>
                            </a>
                        </div>
                        <% }) %>
                </div>


                <h4 class="main-title">
                    <a>Ofertas</a>
                </h4>

                <div class="mostrar-productos">
                    <% productsVisited.forEach(p=> { %>
                        <div class="products">
                            <a href="/productos/detalle/<%= p.id %>">
                                <img src="/img/products/<%= p.image %>" alt="article" class="article">
                                <p class="emote-camion"><i class="fa-solid fa-truck"></i></p>
                                <p class="main-precio">
                                    $<%=toThousand(p.price)%> 
                                </p>
                                <p class="main-offer">
                                    <%= p.discount%>%
                                </p>
                                <p class="main-texto">
                                    <%= p.name%>
                                </p>
                            </a>
                        </div>
                        <% }) %>
                </div>



            </main>
            <%- include('../partials/footer') %>
                <%- include('../partials/scrips') %>



    </body>

</html>