<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {vista: 'Resultados de tu búsqueda' }) %>

	<body>
		<!-- Header -->
		<%- include('../partials/header') %>
			<main class="main">


				

				<div class="col-12">
					<h2 class="products-title">Resultados de la búsqueda:<%= keywords %> </h2>
				</div>

				<div class="mostrar-productos">
					<% products.forEach(p=> { %>
						<div class="products">
							<a href="/productos/detalle/<%= p.id %>">
								<img src="/img/products/<%= p.image %>" alt="article" class="article">
								<p class="emote-camion"><i class="fa-solid fa-truck"></i></p>
								<p class="main-precio">
									$<%=toThousand(p.price)%>
								</p>
								<p class="main-offer">
									<%= p.discount%>%
								</p>
								<p class="main-texto">
									<%= p.name%>
								</p>
							</a>
						</div>
						<% }) %>
				</div>
				
				<% if (products.length) { %>
					

				
				<% } else   { %>
					<div class="col-12">
					<h2 class="products-title" style="color: tomato;">No hay productos que coincidan con esa
						búsqueda</h2>
				</div>
					<% } %>
				 


				
			</main>
			<!-- /todos los productos -->

			<!-- footer -->
			<%- include('../partials/footer') %>
				<!-- /footer -->
	</body>

</html>